**/*.aux
**/*.d
**/*.a
**/*.slo
**/*.log
**/*.lot
**/*.acn
**/*.bcf
**/*.lof
**/*.run.xml
**/*.xdy
**/*.toc
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.cmxs
*.glob
*.ml.d
*.ml4.d
*.mli.d
*.mllib.d
*.mlpack.d
*.native
*.o
*.v.d
*.vio
*.vo
*.vok
*.vos
.coq-native/
.csdp.cache
.lia.cache
.nia.cache
.nlia.cache
.nra.cache
csdp.cache
lia.cache
nia.cache
nlia.cache
nra.cache
tcu/.cache/
**/_minted*

_build/
**/_build/

_opam/
**/_opam/

_objects/
**/_objects

**/*.swp
**/*.swo

**/*.crashcoqide

tcu/*.ml
tcu/*.mli

.spacemacs
.spacemacs.env
/.direnv/
/.envrc
result
result-*
